
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MVC Music Store</h2>

<p>Welcome to My Store.</p>

<ul>
    <li>@Html.ActionLink(" Laptop", "Product", "Store", new { @ProductName = "Laptop" }, new { @class = "text-danger" })</li>
    <li>@Html.ActionLink("Tablet", "Product", "Store", new { @ProductName = "Tablet" }, null)</li>
    <li>@Html.ActionLink("Desktop", "Product", "Store", new { @ProductName = "Desktop" }, null)</li>
</ul>

